.super-mario {
  max-width: 200px;
  position: absolute;
  left: 280px;
 
  
}

.goomba {
  max-width: 200px; 
  position: absolute;
  top: 400px; 
  
}

.bowser {
  max-width: 200px;
  position: absolute;
  left: 500px;
  top: 400px;
  
}

.word {
  position: absolute;
  left: 300px;
  top: 400px;
  z-index: 2;
}

.baloon {
  max-width: 200px;
  position: absolute;
  left: 285px;
  top: 375px;
  
}



