:root {
  --green: #58B580;
  --brown: #A63B26;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*  style css geral */


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px auto;
}

main {
  margin: 0 auto;
  max-width: 1440px;
}

.intro, .eyesight, .behavior  {
  margin-top: 40px;
}


.title {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--brown);
}

.paragraph {
  line-height: 1.5;
  font-size: 1em;
  word-break: break-word;
  letter-spacing: -0.003em;
  margin-bottom: 20px;
}


img {
  max-width: 700px;
}


/* Header  */

.header {
  max-width: 1440px;
  margin: 40px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 20px;
  font-size: 2em;
}

.header__item {
  display: inline-block;
  margin-right: 10px;
}

.header__link {
  padding: 10px;
  text-decoration: none;
  color: var(--brown);
}

.header__link:hover {
  color: var(--green);
}



/* content */


.content {
  max-width: 680px;
  padding: 0 20px;
  margin: 0 auto;
}

.content__title {
  font-size: 2.5em;
}


/* intro */


.intro__table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro__table td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
}

.intro__table caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.intro__table th {
  font-weight: bold;
}




/* aside */

.aside {
  max-width: 680px;
  margin: 40px auto;
  /* float: right; */
  /* position: absolute; */
  position: fixed;
  top: 400px;
  right: 30px;
}

/* References */

.references {
  max-width: 680px;
  margin: 40px auto;
}

/* footer */

footer {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}