body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.preferences__items {
  list-style: none;
}

label {
  display: block;
  width: 100px;
}

input[type="email"], input[type="tel"], input[type="url"] {
  width: 100%;
}